<!DOCTYPE html>
<html lang="en">

<head>
  <title>Food Ordering App</title>
  <!-- Importing external stylesheets and scripts-->
  <% include ./partials/_head %>
</head>

<body>
  <header>
  <!-- Import navigation menu -->
  <% include partials/_header %>
  </header>

  <main>
    <!-- Full screen landing page -->
    <h1>Hero Image</h1>
  

  <section>
    <!-- Menu items section -->
    <!-- <h2>Menu Items</h2>
    <div id="order_summary">
      <div id="order_total">
        Order Total: 0
        <br>
        <br>
      </div>
    </div> -->
  </section>

  <section>
    <!-- <h2>Bottom Selection - optional</h2> -->
  </section>

  </main>
</body>
<footer>
  <!-- Import footer -->
  <% include ./partials/_footer %>
</footer>
</html>
