@import "navbar";
@import "hero";
@import "menu";
@import "footer";
@import "order";

*,
*::before,
*::after {
  font-family: Segoe UI, "Tahoma", Geneva, Verdana, sans-serif;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

// Execute this in the command line for the changes to take eeffect
// ./node_modules/.bin/sass ./styles/main.scss public/styles/main.css --no-source-map;
