#display-menu {
  width: 100vw;
  height: 100vh;
}

.menu-category {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  margin-left: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000;
  font-size: 1rem;
}

.menu-category h2 {
  font-size: 1.5rem;
  color: #fff;
}

ul {
  list-style-type: none;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px;
  width: 200px;
  text-decoration: none;
}

li a:hover {
  color: rgb(255, 230, 0);
}

.menu-selection {
  display: flex;
}

// Style for menu items
.menu-container {
  display: flex;
  // flex-wrap: wrap;
  width: 100vw;
}

.display-item {
  flex: 1;
  margin: 40px 5px;
  padding: 0px;
}

.display-item h3 {
  font-size: 1.5rem;
}

.menu-size {
  width: 360px;
  height: 200px;
}
// styles from jQuery
.menu-wrapper {
  display: flex;
  position:relative;
  flex-direction: row;
  margin-left: 30px;
  border: 1px solid #000;
  width: 200px;
}
.name-price {
  display: flex;
  flex-direction: row;
  margin: 5px;
  justify-content: space-between;
}
.name {
  font-size: 1.2rem;
}

.description {
  font-size: 1rem;
}

.price {
  font-size: 1.2rem;
}

.click_me {
  font-size: 1rem;
}

.menu-buttons {
  border: 1px solid #000;
  width: 200px;
}

.display-flex {
  display: flex;
}

.mt-3 {
  margin-top: 15px;
}

.mr-3 {
  margin-right: 15px;
}

.align-items-center {
  align-items: center;
}
