#display-container {
  width: 100vw;
  display: flex;
  justify-content: center;
}

#display-menu-container {
  display: flex;
  justify-content: center;
  height: 60vh;
}

#display-menu {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.menu-category {
  display: flex;
  justify-content: center;
  background-color: #000;
  font-size: 1rem;
}

.menu-category h2 {
  font-size: 1.5rem;
  color: #fff;
}

// Style for menu items
.menu-container {
  display: flex;
  justify-content: center;
  // flex-wrap: wrap;
  // width: 100vw;
}

.display-item {
  margin: 40px 5px;
  padding: 0px;
}

.display-item h3 {
  font-size: 1.5rem;
}

.menu-size {
  width: 360px;
  height: 200px;
}

.menu-wrapper {
  display: flex;
  position: relative;
  flex-direction: row;
  margin-left: 30px;
  padding: 2rem;
  border: 1px solid #000;
  width: 100vw;
}
.name-price {
  display: flex;
  flex-direction: row;
  margin: 5px;
  justify-content: space-between;
}
.name {
  font-size: 1.2rem;
}

.description {
  font-size: 1rem;
}

.price {
  font-size: 1.2rem;
}

.click_me {
  font-size: 1rem;
}

.menu-buttons {
  border: 1px solid #000;
  width: 200px;
}

.display-flex {
  display: flex;
}

.mt-3 {
  margin-top: 15px;
}

.mr-3 {
  margin-right: 15px;
}

.align-items-center {
  align-items: center;
}

// Added styles - Vince
.total-summary-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 50vh;
  padding: 5rem;
}

.menu_items {
  display: flex;
  justify-content: center;
  width: 80;
  height: 100%;
  padding: 1.5rem 3rem;
  border: 1px solid #000;
  border-radius: 10px;
}

.total-summary-list {
  display: flex;
  flex-direction: column;
}

.btn-area {
  display: flex;
  justify-content: center;
}

.conf-btn {
  display: flex;
  justify-content: center;
  max-width: 200px;
  text-decoration: none;
}
