#display-menu {
  width: 100vw;
  height: 100vh;
}

.menu-category {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000;
  font-size: 1.2rem;
}

ul {
  list-style-type: none;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px;
  width: 200px;
  text-decoration: none;
}

li a:hover {
  color: rgb(255, 230, 0);
}

.menu-selection {
  display: flex;
}

// Style for menu items
.display-menu {
  display: flex;
  flex-wrap: wrap;
}

.display-item {
  flex: 1 0 21%; /* explanation below */
  margin: 5px;
  height: 100px;
  background-color: blue;
}
